*filter
:INPUT ACCEPT [108:6938]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [82:8408]
-A FORWARD -i {{ LOCAL_IFACE }} -j ACCEPT
-A FORWARD -i {{ INET_IFACE }} -m state --state RELATED,ESTABLISHED -j ACCEPT
COMMIT
*nat
:PREROUTING ACCEPT [23:7488]
:INPUT ACCEPT [2:98]
:OUTPUT ACCEPT [5:438]
:POSTROUTING ACCEPT [5:438]
-A POSTROUTING -o {{ LOCAL_IFACE }} -j MASQUERADE
-A POSTROUTING -o {{ INET_IFACE }} -j SNAT --to-source {{ INET_ADDRESS }}
COMMIT
